In [6]:
import pandas as pd
import numpy as np
from sklearn.metrics import jaccard_score

In [7]:
id_information = pd.read_csv('id_information_mmsr.tsv', sep='\t')
id_genres = pd.read_csv('id_genres_mmsr.tsv', sep='\t')
id_bert = pd.read_csv('id_bert_mmsr.tsv', sep='\t')
id_lyrics_tfidf = pd.read_csv('id_lyrics_tf-idf_mmsr.tsv', sep='\t')
id_lyrics_word2vec = pd.read_csv('id_lyrics_word2vec_mmsr.tsv', sep='\t')

In [8]:
id_lyrics_word2vec['id']

0        0LiOzxBZ1aPLlFsK
1        mxzw6q1VfWMdd9ro
2        F4vPrkSvYHwgexdS
3        cSJ3rv6DiHqyBJot
4        0hi04T4inOYGP0pz
               ...
76110    x1yKbJrsVyRMmb71
76111    ScFJLHGN5Wqy7idi
76112    t2qk5sPmEwUZCJOY
76113    oLeEb5eAuMyBZB5J
76114    WLCjkHszDqD20kip
Name: id, Length: 76115, dtype: object

In [18]:
artist = 'Dua Lipa'
song_query = 'New Rules (Initial Talk Remix)'
song = id_information.loc[(id_information['artist']==artist)&(id_information['song']==song_query)]

In [19]:
query_id = song.iloc[0]['id']
word2vec_query = id_lyrics_word2vec.loc[id_lyrics_word2vec['id']==song.iloc[0]['id']]
word2vec_query = np.array(word2vec_query.drop(columns=['id']))

In [20]:
word2vec_subset = id_lyrics_word2vec
word2vec_subset

,id,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
0,0LiOzxBZ1aPLlFsK,0.031109,0.018026,0.022785,0.028802,-0.026084,-0.006278,0.030599,-0.041043,0.036703,...,-0.025845,0.010468,-0.047819,0.005620,-0.025106,-0.017939,-0.009981,-0.027846,0.021100,-0.020994
1,mxzw6q1VfWMdd9ro,0.013538,0.026949,0.006707,0.026687,-0.028433,-0.010083,0.022415,-0.040218,0.033329,...,-0.009777,0.020072,-0.050425,0.011942,-0.015132,-0.016525,0.016312,-0.021790,0.016149,-0.010693
2,F4vPrkSvYHwgexdS,0.019174,0.025422,0.010472,0.029765,-0.015188,0.007465,0.025536,-0.030486,0.026359,...,-0.025898,0.003252,-0.032156,0.002617,-0.017799,-0.017956,-0.012303,-0.011325,0.008986,-0.021229
3,cSJ3rv6DiHqyBJot,0.020385,0.014784,0.007314,0.024862,-0.060034,-0.007292,0.010608,-0.015649,0.027011,...,0.000165,0.025670,-0.046199,0.007238,-0.017479,-0.027334,0.024825,-0.026100,-0.015547,-0.015416
4,0hi04T4inOYGP0pz,0.003372,0.010353,0.020657,0.054301,-0.032918,-0.014128,0.011995,-0.036129,0.011246,...,-0.006355,0.032609,-0.033684,-0.005730,-0.025583,-0.026271,0.025765,-0.039988,-0.002181,-0.018827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76110,x1yKbJrsVyRMmb71,0.028871,-0.022874,0.012849,0.023287,-0.044508,-0.010899,0.037962,-0.022941,0.046117,...,-0.016231,0.025780,-0.032587,0.009338,-0.035655,-0.019701,-0.003379,-0.043409,0.012024,-0.005301
76111,ScFJLHGN5Wqy7idi,0.020471,0.010693,0.002740,0.028014,-0.022420,-0.006654,0.024028,-0.044218,0.023312,...,-0.021822,0.014140,-0.046878,-0.017314,-0.021309,-0.008952,0.004541,-0.024270,0.024007,-0.004976
76112,t2qk5sPmEwUZCJOY,0.029415,0.019978,-0.011919,0.036625,-0.016035,-0.013366,-0.002447,-0.039557,0.032365,...,-0.049972,0.050190,-0.041196,0.039859,-0.001295,0.002996,-0.002399,-0.012571,0.025021,-0.029691
76113,oLeEb5eAuMyBZB5J,0.018925,0.017786,0.012240,0.038715,-0.019951,0.010580,0.025920,-0.041019,0.012281,...,-0.018859,0.017854,-0.040642,0.017792,-0.024355,-0.001956,0.013981,-0.019733,0.003596,0.007555
76114,WLCjkHszDqD20kip,0.010821,0.014317,0.007946,0.046668,-0.018473,-0.002364,0.038520,-0.024822,0.026781,...,-0.018189,0.011428,-0.054764,-0.016458,-0.027721,-0.008786,0.004898,-0.026602,0.009145,0.006192

In [21]:
def jaccard_similarity(x, y):
    intersection_cardinality = len(set.intersection(*[set(x), set(y)]))
    union_cardinality = len(set.union(*[set(x), set(y)]))
    return intersection_cardinality/float(union_cardinality)

In [22]:
subset_ids = word2vec_subset[['id']].copy()
subset_ids

                     id
0      0LiOzxBZ1aPLlFsK
1      mxzw6q1VfWMdd9ro
2      F4vPrkSvYHwgexdS
3      cSJ3rv6DiHqyBJot
4      0hi04T4inOYGP0pz
...                 ...
76110  x1yKbJrsVyRMmb71
76111  ScFJLHGN5Wqy7idi
76112  t2qk5sPmEwUZCJOY
76113  oLeEb5eAuMyBZB5J
76114  WLCjkHszDqD20kip

[76115 rows x 1 columns]

In [24]:
word2vec_no_id = np.array(word2vec_subset.drop(columns=['id']))
jaccard = jaccard_similarity(word2vec_query[:,0], word2vec_no_id[:,0])
subset_ids.insert(1,'jaccard', jaccard)
#subset_ids = np.array(subset_ids.drop(columns=['jaccard']))
subset_ids

                     id   jaccard
0      0LiOzxBZ1aPLlFsK  0.000015
1      mxzw6q1VfWMdd9ro  0.000015
2      F4vPrkSvYHwgexdS  0.000015
3      cSJ3rv6DiHqyBJot  0.000015
4      0hi04T4inOYGP0pz  0.000015
...                 ...       ...
76110  x1yKbJrsVyRMmb71  0.000015
76111  ScFJLHGN5Wqy7idi  0.000015
76112  t2qk5sPmEwUZCJOY  0.000015
76113  oLeEb5eAuMyBZB5J  0.000015
76114  WLCjkHszDqD20kip  0.000015

[76115 rows x 2 columns]

In [26]:
subset_ids= subset_ids.sort_values('jaccard', ascending=False)

In [27]:
sorted_jaccard = subset_ids.iloc[0: , :]
sorted_jaccard

                     id   jaccard
0      0LiOzxBZ1aPLlFsK  0.000015
17     Nsj8VQb3SzSOoPPy  0.000015
3      cSJ3rv6DiHqyBJot  0.000015
4      0hi04T4inOYGP0pz  0.000015
5      TqTYGeHmn87wRxMs  0.000015
...                 ...       ...
76107  ZwuSaBkbDgnUu5Rw  0.000015
76098  KHw3zy3EtbQWGGrw  0.000015
76097  UYWzZbShn4DK4QvL  0.000015
76096  EvKsiZtqxHWSUOIm  0.000015
76114  WLCjkHszDqD20kip  0.000015

[76115 rows x 2 columns]