In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
id_information = pd.read_csv('id_information_mmsr.tsv', sep='\t')
id_genres = pd.read_csv('id_genres_mmsr.tsv', sep='\t')
id_bert = pd.read_csv('id_bert_mmsr.tsv', sep='\t')
id_lyrics_tfidf = pd.read_csv('id_lyrics_tf-idf_mmsr.tsv', sep='\t')
id_lyrics_word2vec = pd.read_csv('id_lyrics_word2vec_mmsr.tsv', sep='\t')

In [4]:
id_lyrics_tfidf['id']

0        9jbSytob9XRzwvB6
1        Njp6JPM8vitbhVJU
2        h48f46ZsT9h0Z5Dm
3        ZmXVK43zlqdeq6z8
4        PV5EXN6AIVBqvsLO
               ...
76110    R4VMVAxVOAEWBjgg
76111    YgII1tHAaAnh14Kf
76112    76qenAf8gYlH4pfq
76113    9F8jQjeibAuZinEP
76114    njEze6oZPy3MX2dN
Name: id, Length: 76115, dtype: object

In [5]:
artist = 'Dua Lipa'
song_query = 'New Rules (Initial Talk Remix)'
song = id_information.loc[(id_information['artist']==artist)&(id_information['song']==song_query)]

In [6]:
query_id = song.iloc[0]['id']

In [7]:
tfidf_query = id_lyrics_tfidf.loc[id_lyrics_tfidf['id']==song.iloc[0]['id']]
tfidf_query = np.array(tfidf_query.drop(columns=['id']))

In [8]:
tfidf_subset = id_lyrics_tfidf#.head(100)
tfidf_subset

,id,abl,accept,across,act,addict,afraid,age,ago,ah,...,yea,yeah,year,yellow,yes,yesterday,yet,yo,young,youth
0,9jbSytob9XRzwvB6,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.150511
1,Njp6JPM8vitbhVJU,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,h48f46ZsT9h0Z5Dm,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.149783,0.0,0.0,0.0,0.000000
3,ZmXVK43zlqdeq6z8,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,PV5EXN6AIVBqvsLO,0.0,0.0,0.0,0.0,0.0,0.327025,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,gGGitD0WNAk2X4BD,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.079171,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
96,pELbQYVBlEb4pzwN,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
97,hi4bMnNj2515T2lL,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
98,0XGITTXjZlpwcBD5,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
99,WBZXGy6cWwR2hWdG,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.061049,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000

In [16]:
#function that returns conine similarity between a rowvector(1,c) and a matrix of rowvectors (r,c)
#returns columnvector (r,1)

def cosine_similarities(x, Y):
    nx = np.linalg.norm(x)
    nY = np.linalg.norm(Y, axis=1, keepdims=True)
    DotP = np.dot(x, Y.T).T
    
    return DotP/((nx*nY)+1e-10)

In [17]:
subset_ids = tfidf_subset[['id']].copy()
subset_ids

                  id
0   9jbSytob9XRzwvB6
1   Njp6JPM8vitbhVJU
2   h48f46ZsT9h0Z5Dm
3   ZmXVK43zlqdeq6z8
4   PV5EXN6AIVBqvsLO
..               ...
95  gGGitD0WNAk2X4BD
96  pELbQYVBlEb4pzwN
97  hi4bMnNj2515T2lL
98  0XGITTXjZlpwcBD5
99  WBZXGy6cWwR2hWdG

[100 rows x 1 columns]

In [18]:
tfidf_no_id = np.array(tfidf_subset.drop(columns=['id']))
cosine = cosine_similarities(tfidf_query, tfidf_no_id)
subset_ids.insert(1,'cosine', cosine)
subset_ids

                  id    cosine
0   9jbSytob9XRzwvB6  0.057755
1   Njp6JPM8vitbhVJU  0.019939
2   h48f46ZsT9h0Z5Dm  0.062809
3   ZmXVK43zlqdeq6z8  0.110308
4   PV5EXN6AIVBqvsLO  0.042527
..               ...       ...
95  gGGitD0WNAk2X4BD  0.103967
96  pELbQYVBlEb4pzwN  0.027848
97  hi4bMnNj2515T2lL  0.009503
98  0XGITTXjZlpwcBD5  0.036921
99  WBZXGy6cWwR2hWdG  0.100669

[100 rows x 2 columns]

In [19]:
subset_ids= subset_ids.sort_values('cosine', ascending=False)

In [20]:
sorted_cosine = subset_ids.iloc[0: , :]
sorted_cosine

                  id    cosine
32  NTcf5L6mTv4vowN1  0.207763
53  1eXsPk9lkXFKcwDN  0.204724
59  JjBvjSPCrAiRnfl6  0.179080
68  ecIvzBmU1MyLPGS4  0.175432
93  SMnpUHHEhMdLJqJ2  0.159431
..               ...       ...
71  5UtxTyC8We2LekFg  0.000000
92  kglAH91Ovw6CFdJk  0.000000
37  N7YFNwVkTgq923TL  0.000000
63  JPD3nXUFTrLBy83V  0.000000
50  Ycdb50MRcHyKljV7  0.000000

[100 rows x 2 columns]

In [21]:
top_10 = sorted_cosine.head(10)
top_10

                  id    cosine
32  NTcf5L6mTv4vowN1  0.207763
53  1eXsPk9lkXFKcwDN  0.204724
59  JjBvjSPCrAiRnfl6  0.179080
68  ecIvzBmU1MyLPGS4  0.175432
93  SMnpUHHEhMdLJqJ2  0.159431
90  nPqN6aEB4b9eQP1d  0.152960
73  L89KdLkgC5ih0Hdx  0.152384
19  PXOXoIU6E7a7mNKC  0.151873
30  1P2BDFhrr7pwxIsP  0.148241
35  tYWkkgccRc1rr029  0.146027

In [16]:
top_10_ids = np.array(top_10['id'])

In [17]:
for idx in top_10_ids:
    print(id_information.loc[(id_information['id'] == idx)][['artist', 'song']])

         artist                            song
76113  Dua Lipa  New Rules (Initial Talk Remix)
         artist                            song
58942  Dua Lipa  New Rules - Initial Talk Remix
         artist       song
52034  Dua Lipa  New Rules
              artist                           song
39323  Lenny Kravitz  Let Love Rule (Justice Remix)
        artist song
42582  J. Cole  ATM
                   artist         song
50654  Jefferson Starship  Count on Me
                artist         song
17479  Whitney Houston  Count On Me
          artist         song
2424  Bruno Mars  Count on Me
        artist      song
44737  Ramones  Commando
     artist    song
2019   Kllo  Virtue

In [18]:
top_10_meta = id_information.loc[id_information['id'].isin(top_10_ids)]  # not ordered

In [19]:
query_genre = id_genres.loc[id_genres['id']==query_id]['genre']
query_genre

76113    ['synthpop', 'pop']
Name: genre, dtype: object

In [20]:
def get_genre(song_id):
    genres = id_genres.loc[id_genres['id']==song_id]['genre'].tolist()[0]
    return genres

In [21]:
def string_to_list(string):
    lst = string[1:-1].split(', ')
    return lst

In [22]:
query_genre = get_genre(query_id)
print(query_genre)
query_genre = string_to_list(query_genre)

['synthpop', 'pop']

In [23]:

tp = 0
for idx in top_10_ids:
    genres = get_genre(idx)
    genre_lst = string_to_list(genres)[0]
    if any(item in query_genre[0] for item in genre_lst):
        tp += 1

precision = tp/len(top_10_ids)
print(precision)

1.0

In [3]:
def get_genre(song_id):
    genres = id_genres.loc[id_genres['id']==song_id]['genre'].tolist()[0]
    return genres

def string_to_list(string):
    lst = string[1:-1].split(', ')
    return lst

def get_top_k(artist, song_query, k:int):
    song = id_information.loc[(id_information['artist']==artist)&(id_information['song']==song_query)]
    query_id = song.iloc[0]['id']
    tfidf_query = id_lyrics_tfidf.loc[id_lyrics_tfidf['id']==song.iloc[0]['id']]
    tfidf_query = np.array(tfidf_query.drop(columns=['id']))
    tfidf_ids = id_lyrics_tfidf[['id']].copy()
    tfidf_no_id = np.array(id_lyrics_tfidf.copy().drop(columns=['id']))
    cosine = cosine_similarity(tfidf_query, tfidf_no_id)
    tfidf_ids.insert(1,'cosine', cosine[0])
    tfidf_ids= tfidf_ids.sort_values('cosine', ascending=False)
    sorted_cosine = tfidf_ids.iloc[1: , :]
    top_k = sorted_cosine.head(k)
    top_k_ids = np.array(top_k['id'])
    query_genre = get_genre(query_id)
    query_genre = string_to_list(query_genre)
    
    tp = 0
    for idx in top_k_ids:
        genres = get_genre(idx)
        genre_lst = string_to_list(genres)
        if any(item in query_genre for item in genre_lst):
            tp += 1
    precision = tp/len(top_k_ids)  # somethings wrong
    
    for idx in top_k_ids:
        print(id_information.loc[(id_information['id'] == idx)][['artist', 'song']])
    
    return precision

In [4]:
print(get_top_k('Etta James', 'I Just Want to Make Love to You', 10))

             artist                             song
44262  Muddy Waters  I Just Want To Make Love To You
                 artist             song
61869  Rachael Yamagata  Be Be Your Love
        artist               song
73660  NCT 127  Replay (PM 01:27)
                 artist              song
34292  Transvision Vamp  I Want Your Love
       artist                             song
52291  Foghat  I Just Want to Make Love to You
            artist           song
70542  Jakob Ogawa  All Your Love
       artist                                               song
59396  Foghat  I Just Want to Make Love To You - 2016 Remastered
                   artist                             song
17750  The Rolling Stones  I Just Want to Make Love to You
        artist             song
36620  Madonna  Justify My Love
                 artist         song
70349  Carly Rae Jepsen  Gimmie Love
0.7